{{define "head"}}<title>Neues Fach</title>
<link rel="stylesheet" href="/static/styles/subject/new.css">{{end}}
{{define "content"}}
<h1>Neues Fach</h1>
<form action="/subjects" method="post" enctype="application/x-www-form-urlencoded">
	<input id="short" type="text" name="short" placeholder="Kürzel" />
	<input type="text" name="name" placeholder="Name" />
	<input type="checkbox" name="splitClass" value="true" />Verschiedene Kurse gleichzeitig<br>
	<input id="save" type="submit" value="Speichern" />
</form>
{{end}}

